@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

:root {
  --color-text: #0f172a;
  --primary-background: #ffffff;
  --secondary-background: #f4fafe;
  --foreground: #171717;
  --primary-color: #e7107e;
  --secondary-color: #0fa4ea;
  --color-accent: #f6d200;
  --title-gray: #767474;
}

body {
  background: var(--primary-background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}

h1,
h2 {
  color: var(--promoblock-text-heading);
}

h2,
h3,
a,
li {
  font-family: 'Poppins', sans-serif;
}

.hoverTextAnimation {
  @apply transition-all duration-300;
}

.hoverTextAnimation:hover {
  @apply underline  text-[var(--link-hover-color)];
}

.linkHover:hover svg,
.linkHover:hover {
  @apply translate-x-2.5 text-[var(--link-hover-color)];
}

/* navbar ⬇️ */
.menuLinkHover:hover {
  @apply text-[var(--footer-link)] translate-x-4;
}

/* .menuLinkHover::after {
  content: '';
  @apply flex justify-center items-center h-0.5 transition-all w-[0%] bg-[var(--footer-link)] duration-300;
}

.menuLinkHover:hover::after {
} */
/* navbar ⬆️ */

/* Four complementary - section ⬇️*/
#card:nth-child(1),
#card:nth-child(2) {
  @apply mb-40;
}

#card:nth-child(3),
#card:nth-child(4) {
  @apply mb-40 md:mb-0;
}

#fourLink h2::after {
  content: '';
  @apply transition-all duration-300 flex justify-center items-center h-[2px] w-[0%] bg-[var(--link-hover-color)];
}

#fourLink h2:hover::after {
  @apply w-[100%];
}

#fourLink h2:hover {
  @apply text-[var(--link-hover-color)];
}
/* Four complementary - section ⬆️*/

/* footer section ⬇️ */
.linkAnimation {
  @apply transition-all duration-300;
}

.linkAnimation::after {
  content: '';
  @apply flex justify-center items-center h-0.5 transition-all w-[0%] bg-[var(--footer-link)] duration-300;
}

.linkAnimation:hover::after {
  @apply w-[100%];
}

.linkAnimation:hover {
  @apply text-[var(--footer-link)];
}

/* footer section ⬆️ */
